body {
  padding: 0;
  margin: 0;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  width: 1920px;
  background: #ffffff;
}

/* header */
.header__conteiner {
  width: 100%;
  margin: 0 auto;
}
.header__conteiner-menu {
  display: flex;
  width: 100%;
  box-shadow: 0px 5px 5px #f0f0f0;
  height: 10%;
}
.header__menu-logo {
  width: 5%;
  height: 5%;
  margin-top: 1%;
  margin-left: 10%;
  margin-bottom: 1%;
}
.header__logo {
  width: 100%;
  height: 100%;
}
.header__menu-row {
  display: flex;
  margin-top: 3.1%;
  margin-left: 10%;
}

.header__menu-row li {
  text-decoration: none;
  list-style-type: none;
  font-family: "SF Pro Display";
}
.header__menu-row li:hover {
  color: #a89060;
  text-decoration: underline;
  cursor: pointer;
}
.header__row {
  font-size: 22px;
  width: 10%;
  height: 5%;
}
.header__row a {
  color: black;
  text-decoration: none;
  display: block;
}
.header__row a:hover {
  color: #a89060;
  text-decoration: underline;
  cursor: pointer;
}

.header__row-city {
  font-size: 22px;
  border: none;
  margin-left: 5%;
  background: white;
  width: 100%;
  margin-left: 10%;
}
.header__dropdown {
  position: relative;
  display: inline-block;
}
.header__city-dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header__city-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.header__city-dropdown a:hover {
  background-color: #ddd;
}
.header__dropdown:hover .header__city-dropdown {
  display: block;
  margin-left: 15%;
}
.header__dropdown:hover .header__row-city {
  color: #a89060;
  text-decoration: underline;
  cursor: pointer;
}

.header__row-help {
  font-size: 22px;
  border: none;
  margin-left: 5%;
  background: white;
  width: 100%;
  margin-left: 10%;
}
.header__help-dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header__help-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.header__help-dropdown a:hover {
  background-color: #ddd;
}
.header__dropdown:hover .header__help-dropdown {
  display: block;
  margin-left: 15%;
}
.header__dropdown:hover .header__row-help {
  color: #a89060;
  text-decoration: underline;
  cursor: pointer;
}

.header__row-about {
  padding-left: 5%;
}

.header__row-contact {
  width: 300px;
  margin-left: 80%;
  font-size: 25px;
  margin-top: -1%;
}
.header__row-personal {
  width: 300px;
  margin-left: 210%;
}
.header__row-personal {
  display: flex;
}
.header__personal-image {
  margin-left: 5%;
}
